<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administration</title>
    <!-- <link rel="stylesheet" href="index.css" /> -->
    <link rel="stylesheet" href="/stylesheets/newProduct.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="MainHeaderSection">
      <h1>Administration</h1>
    </header>
    <main class="AdminContainer">
      <section class="ProduktContainer">
        <h2>Produkter</h2>
        <hr />
      </section>
      <!-- Main box -->
      <section class="MainSectionProdukter">
        <form id="productForm">
          <!-- Bild -->
          <div class="image-container">
            <div class="NewProductItem">
              <label for="productPicture">Bild</label>
              <input
                id="productPicture"
                type="text"
                name="productPicture"
                value="https://placehold.co/250x400/png"
                required
              />
            </div>
          </div>
          <!-- Namn -->
          <div class="details-container">
            <div class="NewProductItem">
              <label for="productName">Namn</label>
              <input type="text" id="productName" name="productName" required />
            </div>
            <!-- productBrand -->
            <div class="NewProductItem">
              <label for="productBrand">Märke</label>
              <input
                type="text"
                id="productBrand"
                name="productBrand"
                required
              />
            </div>
            <!-- Beskrivning -->
            <div class="NewProductItem">
              <label for="productDescription">Beskrivning</label>
              <textarea
                type="text"
                id="productDescription"
                name="productDescription"
                rows="5"
                cols="40"
              ></textarea>
            </div>
          </div>
          <!-- Pris -->
          <div class="price-container">
            <div id="price-container" class="NewProductItem">
              <label for="productPrice">Pris</label>
              <input
                type="number"
                id="productPrice"
                name="productPrice"
                required
              />
            </div>
          </div>
          <!-- Skick -->
          <div class="productPropertiesContainer">
            <div>
              <label for="productCondition">Välj skick</label>
              <select id="productCondition" name="productCondition">
                <option value="very-good">Mycket bra</option>
                <option value="good">Bra</option>
                <option value="acceptabe">Acceptabelt</option>
              </select>
            </div>
            <!-- Storlek -->
            <div class="NewProductItem">
              <label for="productSize">Välj storlek</label>
              <select id="productSize" name="productSize">
                <option value="xs">XS</option>
                <option value="s">S</option>
                <option value="m">M</option>
                <option value="l">L</option>
                <option value="xl">XL</option>
                <option value="xxl">XXL</option>
                <option value="xxxl">XXXL</option>
              </select>
            </div>

            <div class="NewProductItem">
              <label for="productColor">Färg</label>
              <input
                type="text"
                id="productColor"
                name="productColor"
                required
              />
            </div>
            <div class="NewProductItem">
              <label for="productType">Typ</label>
              <input type="text" id="productType" name="productType" required />
            </div>
            <!-- Categiries -->
            <div id="CategoriesContainer">
              <div class="NewProductItem">
                <h4 id="productCategories">Kategorier</h4>
                <div class="productCategoriesFemale">
                  <input
                    type="checkbox"
                    id="productCategoriesFemale"
                    name="productCategories"
                    value="Dam"
                  />
                  <label for="productCategoriesFemale">Dam</label>
                </div>
                <div class="productCategoriesMale">
                  <input
                    type="checkbox"
                    id="productCategoriesMale"
                    name="productCategories"
                    value="Herr"
                  />
                  <label for="productCategoriesMale">Herr</label>
                </div>
                <div class="productCategoriesElectronic">
                  <input
                    type="checkbox"
                    id="productCategoriesElectronic"
                    name="productCategories"
                    value="Elektronik"
                  />
                  <label for="productCategoriesElectronic">Elektronik</label>
                </div>
              </div>
            </div>
          </div>
          <!-- Button -->
          <div class="button-container">
            <button id="ProductAddButton" type="submit">
              Lägg till produkt
            </button>
          </div>
        </form>
      </section>
    </main>
    <hr />
    <script src="/javascripts/newProduct.js"></script>
  </body>
</html>
