<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administration</title>
    <link rel="stylesheet" href="index.css" />
    <!-- <link rel="stylesheet" href="new.css" /> -->
  </head>
  <body>
    <header class="MainHeaderSection">
      <h1>Administration</h1>
    </header>
    <main class="AdminContainer">
      <aside class="SiderbarContainer">
        <ul class="SiteBarTopic">
          <a href="#">Produkter</a>
        </ul>
      </aside>
      <!-- Main box -->
      <section class="MainSectionProdukter">
        <form action="">
          <!-- Namn -->
          <div class="NewProductItem">
            <label for="productName">Namn</label>
            <input type="text" id="productName" name="productName" required />
          </div>
          <div>
            <label for="feedback">Välj skick:</label>
            <select id="feedback" name="feedback">
              <option value="mycket-bra">Mycket bra</option>
              <option value="bra">Bra</option>
              <option value="acceptabelt">Acceptabelt</option>
            </select>
          </div>
          <!-- Beskrivning -->
          <div class="NewProductItem">
            <label id="textDescription" for="description">Beskrivning</label>
            <textarea
              type="text"
              id="description"
              name="description"
              rows="5"
              cols="40"
            ></textarea>
          </div>
          <!-- Bild -->
          <div class="NewProductItem">
            <label for="productPicture">Bild</label>
            <input
              id="productPicture"
              type="text"
              name="productPicture"
              value="https://placehold.co/250x400/png"
              required
            />
          </div>
          <!-- SKU -->
          <div class="NewProductItem">
            <label for="productBrand">Märke</label>
            <input type="text" id="productBrand" name="productBrand" required />
          </div>
          <!-- Pris -->
          <div class="NewProductItem">
            <label for="productPrice">Pris</label>
            <input
              type="number"
              id="productPrice"
              name="productPrice"
              required
            />
          </div>
          <!-- Categiries -->
          <div id="CategoriesContainer">
            <label for="productCategories">Kategorier</label>
            <div class="CategoriesContainer">
              <input
                type="checkbox"
                id="productCategories"
                name="productCategories"
              />
              <label for="productCategories">Dam</label>
            </div>
            <div class="CategoriesContainer">
              <input
                type="checkbox"
                id="productCategories"
                name="productCategories"
              />
              <label for="summer">Herr</label>
            </div>
            <div class="CategoriesContainer">
              <input
                type="checkbox"
                id="productCategories"
                name="productCategories"
              />
              <label for="pants">Elektronik</label>
            </div>
          </div>
          <!-- Button -->
          <button type="submit">Lägg till produkt</button>
        </form>
      </section>
    </main>
  </body>
</html>
