<!DOCTYPE html>
<html>
  <head>
    <title>Retrendo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/confirmation.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script></script>
  </head>
  <body>
        <div class="wrapper">
            <header class="header">
            <div class="logo-search-wrapper">
                <div class="logo-section">
                <a href="/">
                    <img id="logo" src="/images/Logo.jpg" alt="Logo" />
                </a>
                </div>

                <div class="search-icons">
                <div class="search-bar-container">
                    <form action="" class="search-bar">
                    <input type="text" placeholder="Sök produkt" name="search" />
                    <button type="submit">
                        <img src="/images/search.png" alt="search-icon" />
                    </button>
                    </form>
                </div>

                <div class="icons">
                    <div class="favorite">
                    <a href="">
                        <img src="svg/favorites.svg" alt="favoriter" />
                    </a>
                    </div>
                    <div class="basket">
                    <a href="" class="varukorg-icon">
                        <img src="/svg/basket.svg" alt="varukorg" />
                    </a>
                    </div>
                    <div class="menu-icon">
                    <img src="/svg/menu.svg" alt="Meny" />
                    <div class="menu-links">
                        <a href="">Logga in</a>
                        <a href="">Registrera dig</a>
                        <a href="">Sälj din produkt</a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <nav class="navbar">
                <ul>
                <li><a href="/">Hem</a></li>
                <li><a href="#">Dam</a></li>
                <li><a href="#">Herr</a></li>
                <li><a href="#">Elektronik</a></li>
                </ul>
            </nav>
            </header>

            <main>
                <div>
                    <img class="tack" src="../images/Tack_för_ditt_köp.png" alt="Tack för ditt köp">
                </div>
            </main>

            <footer>
                <div class="footer">
                <div class="footer-section-container">
                    <div class="footer-section">
                    <h5>Retrendo</h5>
                    <ul>
                        <li><a href="#">Om oss</a></li>
                        <li><a href="#">Kontakta oss</a></li>
                        <li><a href="#">Leverans</a></li>
                        <li><a href="#">Vanliga frågor och svar</a></li>
                    </ul>
                    </div>
        
                    <div class="socials-container">
                    <h6>Följ oss på sociala medier</h6>
                    <div class="socials-icons">
                        <a href="">
                        <img src="svg/facebook.svg" alt="Facebook icon" />
                        </a>
                        <a href="">
                        <img src="svg/instagram.svg" alt="Instagram icon" />
                        </a>
                    </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <span>© 2025 Retrendo-All Rights Reserved</span>
                </div>
                </div>
            </footer>
        </div>
    </body>
  </html>