<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/details.js" defer></script>
    <link rel="stylesheet" href="../stylesheets/details.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
      rel="stylesheet">
    <title>Details</title>
</head>
<body>
<div id="wrapper">
    <header class="header"> 
        <div class="logo-search-wrapper">
            <div class="logo-section">
                <a href="index.html">
                <img id="logo" src="/images/Logo.jpg" alt="Logo">
                </a>
            </div>

          <div class="search-icons">
            <div class="search-bar-container">
              <form action="" class="search-bar">
                  <input type="text" placeholder="Sök produkt" name="q">
                  <button type="submit"><img src="/images/search.png" alt="search-icon"></button>
              </form>
          </div>

            <div class="icons">
                <div class="favorite">
                    <a href="">
                      <img src="svg/favorites.svg" alt="favoriter">
                    </a>
                </div>
                <div class="basket">
                    <a href="" class="varukorg-icon">
                      <img src="/svg/basket.svg" alt="varukorg">
                    </a>
                </div>
                <div class="menu-icon">
                      <img src="/svg/menu.svg" alt="Meny">
                      <div class="menu-links">
                          <a href="">Logga in</a>
                          <a href="">Registrera dig</a>
                          <a href="">Sälj din produkt</a>
                      </div>
                </div>
          </div>
        </div>
  </div>
        <nav class="navbar">
          <ul>
            <li><a href="#">Hem</a></li>
            <li><a href="#">Dam</a></li>
            <li><a href="#">Herr</a></li>
            <li><a href="#">Elektronik</a></li>
          </ul>
      </nav>
  </header>

            <section class="productContainer">
                <article class="productInfo">
                    <div class="productImage">
                        <div class="nyhet">Nyhet</div>
                        <a href="#">
                            <picture>
                                <img src="https://placehold.co/500x600" alt="#">
                            </picture>
                        </a>
                    </div>
                    <div class="text">
                        <div class="productHeading">
                            <h3>Adidas</h3>
                            <p class="price">199 sek</p>
                            <p>Träningsbyxor</p>
                        </div>
                            <div class="productTableContainer">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Färg</th>
                                            <td>Svart</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Storlek</th>
                                            <td>M</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Märke</th>
                                            <td>Adidas</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Skick</th>
                                            <td>Ny</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                    <h4 class="extraRubrik">Mycket bra</h4>
                                        <p class="extraInfo">Lorem ipsum dolor, 
                                            sit amet consectetur adipisicing elit. 
                                            Molestias suscipit et accusamus 
                                            perspiciatis dicta quod omnis autem 
                                            ipsum, minus est sint, quos eius cum 
                                            vero voluptatibus maiores cumque alias 
                                            iure.</p>
                                        <div class="buttons">
                                            <form action="post">
                                                <button type="submit" class="add">Lägg i varukorg</button>
                                            </form>
                                            <form action="post" method="post">
                                                <button type="submit" class="checkOut">Till kassan</button>
                                            </form>
                                        </div>
                    </div>
                </article>
            </section>

            <!--Hidden-->
            <section class="similarContainer">
                <h2 class="similarHeading">Liknande Produkter</h2>

                    <div class="similarProducts">
                        <div class="Images">
                            <a href="#">
                                <picture>
                                    <img src="https://placehold.co/500x600" alt="#">
                                </picture>
                            </a>
                        </div>
                        <div class="productsBrand">
                            <h3>Adidas</h3>
                            <p class="productsPrice">199 sek</p>
                            <p class="productsName">Träningsbyxor</p>
                        </div>
                    </div>
                    <div class="similarProducts">
                        <div class="Images">
                            <a href="#">
                                <picture>
                                    <img src="https://placehold.co/500x600" alt="#">
                                </picture>
                            </a>
                        </div>
                        <div class="productsBrand">
                            <h3>Adidas</h3>
                            <p class="productsPrice">199 sek</p>
                            <p class="productsName">Träningsbyxor</p>
                        </div>
                    </div>
                    <div class="similarProducts">
                        <div class="Images">
                            <a href="#">
                                <picture>
                                    <img src="https://placehold.co/500x600" alt="#">
                                </picture>
                            </a>
                        </div>
                        <div class="productsBrand">
                            <h3>Adidas</h3>
                            <p class="productsPrice">199 sek</p>
                            <p class="productsName">Träningsbyxor</p>
                        </div>
                    </div>
                    <div class="similarProducts">
                        <div class="Images">
                            <a href="#">
                                <picture>
                                    <img src="https://placehold.co/500x600" alt="#">
                                </picture>
                            </a>
                        </div>
                        <div class="productsBrand">
                            <h3>Adidas</h3>
                            <p class="productsPrice">199 sek</p>
                            <p class="productsName">Träningsbyxor</p>
                        </div>
                    </div>
            </section>
            <section class="sertificationContainer">
                <div class="core-values-container">
                    <div class="core-value-item">
                        <span>
                            <img src="svg/quality.svg" alt="Quality icon">
                        </span>
                        <span class="core-value-text">Kvalitetssäkrad</span>
                    </div>

                    <div class="core-value-item">
                        <span>
                            <img src="svg/Sustainability.svg" alt="Sustainability icon">
                        </span>
                        <span class="core-value-text value">Hållbarhet</span>
                    </div>

                    <div class="core-value-item">
                        <span>
                            <img src="svg/safe-transaction1.svg" alt="Transaction icon">
                        </span>
                        <span class="core-value-text">Säker betalning</span>
                    </div>
                </div> 
            </section>
            <footer>
                <div class="footer">
                    <div class="footer-section-container">
                        <div class="footer-section">
                            <h5>Retrendo</h5>
                            <ul>
                                <li><a href="#">Om oss</a></li>
                                <li><a href="#">Kontakta oss</a></li>
                                <li><a href="#">Leverans</a></li>
                                <li><a href="#">Vanliga frågor och svar</a></li>
                            </ul>
                        </div>
        
                        <div class="socials-container" >
                            <h6>Följ oss på sociala medier</h6>
                            <div class="socials-icons">
                                <a href="">
                                    <img src="svg/facebook.svg" alt="Facebook icon">
                                </a>
                                <a href="">
                                    <img src="svg/instagram.svg" alt="Instagram icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-copyright">
                        <span>© 2025 Retrendo-All Rights Reserved</span>
                    </div>
                </div>
            </footer>
        </div>
</body>
</html>