<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="#"></script>
    <link rel="stylesheet" href="../stylesheets/details.css">
    <title>Details</title>
</head>
<body>
<div id="wrapper">
    <header></header>
        <nav></nav>
        <div class="productContainer">
            <section class="productInfo">
                <article>
                    <div class="productImage">
                        <div class="Nyhet"></div>
                        <div class="heart"></div>
                        <picture>
                            <img src="#" alt="#">
                        </picture>
                    </div>
                        <div class="productHeading">
                            <h3>Adidas</h3>
                            <p>199 sek</p>
                        </div>
                            <div class="productTable">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Träningsbyxor</th>
                                            <th>Färg</th>
                                            <th>Storlek</th>
                                            <th>Märke</th>
                                            <th>Skick</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>Svart</td>
                                            <td>M</td>
                                            <td>Adidas</td>
                                            <td>Ny</td>
                                        </tr>
                                    </tbody>
                                </table>
                                    <h4 class="extraRubrik">Mycket bra</h4>
                                        <p class="extraInfo"></p>
                                            <button>Lägg i varukorg</button>
                                            <button>Till kassan</button>
                            </div>
                </article>
            </section>
                <!--Hidden on mobile-->
                <section class="LiknandeContainer"> 
                    <div class="Liknande">
                        <h2>Liknande Produkter</h2>
                        <div class="products"></div>
                    </div>
                </section>
            <section class="sertificationInfo">
                <div class="kvalitet">
                    <img src="#" alt="#">
                    <p>Kvalitetssäkrad</p>
                </div>
                <div class="hållbar">
                    <img src="#" alt="#">
                    <p>Hållbarhet</p>
                </div>
                <div class="säker">
                    <img src="#" alt="#">
                    <p>Säker betalning</p>
                </div>
            </section>
        </div>
</div>
<footer></footer>
</body>
</html>