<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="#"></script>
    <link rel="stylesheet" href="../stylesheets/details.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
      rel="stylesheet"
    />
    <title>Details</title>
</head>
<body>
<div id="wrapper">
    <header></header>
        <nav></nav>
            <section class="productContainer">
                <article class="productInfo">
                    <div class="productImage">
                        <div class="Nyhet"></div>
                        <a href="#">
                            <picture>
                                <div class=""></div>
                                <img src="https://placehold.co/500x600" alt="#">
                            </picture>
                        </a>
                    </div>
                    <div class="text">
                        <div class="productHeading">
                            <h3>Adidas</h3>
                            <p class="price">199 sek</p>
                            <p>Träningsbyxor</p>
                        </div>
                            <div class="productTableContainer">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Färg</th>
                                            <td>Svart</td>
                                        </tr>
                                        <tr>
                                            <th>Storlek</th>
                                            <td>M</td>
                                        </tr>
                                        <tr>
                                            <th>Märke</th>
                                            <td>Adidas</td>
                                        </tr>
                                        <tr>
                                            <th>Skick</th>
                                            <td>Ny</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                    <h4 class="extraRubrik">Mycket bra</h4>
                                        <p class="extraInfo">Lorem ipsum dolor, 
                                            sit amet consectetur adipisicing elit. 
                                            Molestias suscipit et accusamus 
                                            perspiciatis dicta quod omnis autem 
                                            ipsum, minus est sint, quos eius cum 
                                            vero voluptatibus maiores cumque alias 
                                            iure.</p>
                                            <div class="buttons">
                                                <button class="add">Lägg i varukorg</button>
                                                <button class="checkOut">Till kassan</button>
                                            </div>
                    </div>
                </article>
            </section>
                <!--Hidden on mobile-->
                <section class="similarContainer"> 
                    <h2 class="similarHeading">Liknande Produkter</h2>
                    
                        
                        
                        
                        
                        <div class="similarProducts">
                            <div class="Images">
                                <a href="#">
                                    <picture>
                                        <img src="https://placehold.co/500x600" alt="#" alt="#">
                                    </picture>
                                </a>
                            </div>
                            <div class="productsBrand">
                                <h3>Adidas</h3>
                                <p class="productsPrice">199 sek</p>
                                <p class="productsName">Träningsbyxor</p>
                            </div>
                        </div>


                        <div class="similarProducts">
                            <div class="Images">
                                <picture>
                                    <img src="https://placehold.co/500x600" alt="#" alt="#">
                                </picture>
                            </div>
                            <div class="productsBrand">
                                <h3>Adidas</h3>
                                <p class="productsPrice">199 sek</p>
                                <p class="productsName">Träningsbyxor</p>
                            </div>
                        </div>
                        <div class="similarProducts">
                            <div class="Images">
                                <picture>
                                    <img src="https://placehold.co/500x600" alt="#" alt="#">
                                </picture>
                            </div>
                            <div class="productsBrand">
                                <h3>Adidas</h3>
                                <p class="productsPrice">199 sek</p>
                                <p class="productsName">Träningsbyxor</p>
                            </div>
                        </div>
                        <div class="similarProducts">
                            <div class="Images">
                                <picture>
                                    <img src="https://placehold.co/500x600" alt="#" alt="#">
                                </picture>
                            </div>
                            <div class="productsBrand">
                                <h3>Adidas</h3>
                                <p class="productsPrice">199 sek</p>
                                <p class="productsName">Träningsbyxor</p>
                            </div>
                        </div>



            
                </section>
            <section class="sertificationContainer">
                <div class="qualityBox">
                    <picture>
                        <img src="#" alt="#">
                    </picture>
                        <p>Kvalitetssäkrad</p>
                </div>
                <div class="sustainableBox">
                    <picture>
                        <img src="#" alt="#">
                    </picture>
                        <p>Hållbarhet</p>
                </div>
                <div class="sequreBox">
                    <picture>
                        <img src="#" alt="#">
                    </picture>
                        <p>Säker betalning</p>
                </div>
            </section>
        </div>
</div>
<footer></footer>
</body>
</html>