<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../stylesheets/details.js" defer></script>
    <link rel="stylesheet" href="../stylesheets/details.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
      rel="stylesheet">
    <title>Details</title>
</head>
<body>
<div id="wrapper">
            <section class="productContainer">
                <article class="productInfo">
                    <div class="productImage">
                        <div class="nyhet">Nyhet</div>
                        <a href="#">
                            <picture>
                                <img src="https://placehold.co/500x600" alt="#">
                            </picture>
                        </a>
                    </div>
                    <div class="text">
                        <div class="productHeading">
                            <h3>Adidas</h3>
                            <p class="price">199 sek</p>
                            <p>Tr채ningsbyxor</p>
                        </div>
                            <div class="productTableContainer">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">F채rg</th>
                                            <td>Svart</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Storlek</th>
                                            <td>M</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">M채rke</th>
                                            <td>Adidas</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Skick</th>
                                            <td>Ny</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                    <h4 class="extraRubrik">Mycket bra</h4>
                                        <p class="extraInfo">Lorem ipsum dolor, 
                                            sit amet consectetur adipisicing elit. 
                                            Molestias suscipit et accusamus 
                                            perspiciatis dicta quod omnis autem 
                                            ipsum, minus est sint, quos eius cum 
                                            vero voluptatibus maiores cumque alias 
                                            iure.</p>
                                        <div class="buttons">
                                            <button type="submit" class="add">L채gg i varukorg</button>
                                            <button type="submit" class="checkOut">Till kassan</button>
                                        </div>
                    </div>
                </article>
            </section>
        </div>
</body>
</html>