<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/startsida.css" />
  </head>
  <body>
    <header>
      <div class="header">
          <div class="logo-search">
              <div class="logo-section">
                  <a href="index.html">
                  <img id="logo" src="/images/Logo.jpg" alt="Logo">
                  </a>
              </div>
              
            <div class="search-icons">
              <div class="search-bar-container">
                <form action="" class="search-bar">
                    <input type="text" placeholder="Sök produkt" name="q">
                    <button type="submit"><img src="/images/search.png" alt="search-icon"></button>
                </form>
            </div>
          
              <div class="icons">
                  <div class="favorite">
                      <a href="">
                        <img src="svg/favorites.svg" alt="favoriter">
                      </a>
                  </div>
                  <div class="basket">
                      <a href="" class="varukorg-icon">
                        <img src="/svg/basket.svg" alt="varukorg">
                      </a>
                  </div>
                  <div class="menu-icon">
                        <img src="/svg/menu.svg" alt="Meny">
                        <div class="menu-links">
                            <a href="">Logga in</a>
                            <a href="">Registrera dig</a>
                            <a href="">Sälj din produkt</a>
                        </div>
                  </div>
            </div>
          </div>
    </div>
          
          <div class="navbar">
            <ul>
              <li><a href="#">Hem</a></li>
              <li><a href="#">Dam</a></li>
              <li><a href="#">Herr</a></li>
              <li><a href="#">Elektronik</a></li>
            </ul>
          </div>
      </div>
    </header>

    <main>
        <div class="main">
            <section class="hero">
                <div class="hero-image">
                    <img  id="hero" src="/images/hero.jpg" alt="Hero">
                </div>
            </section>
            
            <section class="recently-added">
                <h2>Nyligen tillagda</h2>
            </section>

            <section class="dam-section">
                <a href="#" class="dam-link">
                    <h2>Dam</h2>
                </a>
            </section>

            <div class="products-grid">
                <div class="product">
                    <a href="product-details.html">
                        <div class="product-image">
                            <img src="https://placehold.co/600x400" alt="">
                        </div>
                        <div class="product-name">
                            <span>Adidas</span>
                            <span>199 SEK</span>
                        </div>
                        <div class="product-brand">Tröja</div>
                    </a>
                            <span class="empty-heart">
                            <img src="svg/hjärta.svg" alt="Heart">
                            </span>
                </div>
            
        
                <div class="product">
                    <a href="product-details.html">
                        <div class="product-image">
                            <img src="https://placehold.co/600x400" alt="">
                        </div>
                        <div class="product-name">
                            <span>Adidas</span>
                            <span>199 SEK</span>
                        </div>
                        <div class="product-brand">Tröja</div>
                    </a>
                            <span class="empty-heart">
                            <img src="svg/hjärta.svg" alt="Heart">
                            </span>
                </div>
    
                       
                <div class="product">
                    <a href="product-details.html">
                        <div class="product-image">
                            <img src="https://placehold.co/600x400" alt="">
                        </div>
                        <div class="product-name">
                            <span>Adidas</span>
                            <span>199 SEK</span>
                        </div>
                        <div class="product-brand">Tröja</div>
                    </a>
                            <span class="empty-heart">
                            <img src="svg/hjärta.svg" alt="Heart">
                            </span>
                </div>
                   
                <div class="product">
                    <a href="product-details.html">
                        <div class="product-image">
                            <img src="https://placehold.co/600x400" alt="">
                        </div>
                        <div class="product-name">
                            <span>Adidas</span>
                            <span>199 SEK</span>
                        </div>
                        <div class="product-brand">Tröja</div>
                    </a>
                            <span class="empty-heart">
                            <img src="svg/hjärta.svg" alt="Heart">
                            </span>
                </div>
    
                    
                <div class="product">
                    <a href="product-details.html">
                        <div class="product-image">
                            <img src="https://placehold.co/600x400" alt="">
                        </div>
                        <div class="product-name">
                            <span>Adidas</span>
                            <span>199 SEK</span>
                        </div>
                        <div class="product-brand">Tröja</div>
                    </a>
                            <span class="empty-heart">
                            <img src="svg/hjärta.svg" alt="Heart">
                            </span>
                </div>
    
                        
                <div class="product">
                    <a href="product-details.html">
                        <div class="product-image">
                            <img src="https://placehold.co/600x400" alt="">
                        </div>
                        <div class="product-name">
                            <span>Adidas</span>
                            <span>199 SEK</span>
                        </div>
                        <div class="product-brand">Tröja</div>
                    </a>
                            <span class="empty-heart">
                            <img src="svg/hjärta.svg" alt="Heart">
                            </span>
                </div>
            </div>  
                    
             <section class="electronic-section">
                <a href="#" class="electronic-link">
                    <h3>Elektronik</h3>
                </a>
            </section>


            <div class="products-grid">
                <div class="product">
                    <a href="product-details.html">
                        <div class="product-image">
                            <img src="https://placehold.co/600x400" alt="">
                        </div>
                        <div class="product-name">
                            <span>Samsung</span>
                            <span>4000 SEK</span>
                        </div>
                        <div class="product-brand">TV</div>
                    </a>
                            <span class="empty-heart">
                            <img src="svg/hjärta.svg" alt="Heart">
                            </span>
                </div>

                <div class="product">
                    <a href="product-details.html">
                        <div class="product-image">
                            <img src="https://placehold.co/600x400" alt="">
                        </div>
                        <div class="product-name">
                            <span>Samsung</span>
                            <span>4000 SEK</span>
                        </div>
                        <div class="product-brand">TV</div>
                    </a>
                            <span class="empty-heart">
                            <img src="svg/hjärta.svg" alt="Heart">
                            </span>
                </div>

            </div>
  </body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    const menuIcon = document.querySelector(".menu-icon");

    menuIcon.addEventListener("click", (e) => {
        e.stopPropagation(); 
        menuIcon.classList.toggle("open");
    });

    document.addEventListener("click", () => {
        menuIcon.classList.remove("open");
    });
});
</script>
