header {
  background: radial-gradient(circle, #1b1e1a, #3c4239, #7b8638);
  color: aliceblue;
  padding: 20px;
  text-align: center;
}

button [type="submit"] {
  background-color: #3c4239;
  color: rgb(152, 206, 71);
}

a:is([id="goBackButton"]) {
  margin: unset !important;
}

button:is([id="ProductEditButton"]) {
  background-color: #76b755;
}

button:is([id="ProductEditCancelButton"]) {
  background-color: #bb6b6b;
}

button:is([id="ProductEditResetButton"]) {
  background-color: #5473ff;
}

form[id="editProductForm"] > div {
  margin: unset !important;
  margin-bottom: 25px !important;
}

body {
  background-color: #eff5ec;
  color: #1b1e1a;
}

label,
h4 {
  margin: unset;
  margin-top: 5px;
}

hr {
  border: 1px solid green;
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

#buttonBackTohomepage {
  margin-top: 1rem !important;
  margin-left: 1rem !important;
}

.ProduktContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NewProductItem {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

#scrollTopButton {
  position: fixed;
  bottom: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: unset;
  border: 2px solid #3c4239;
  color: #3c4239;
  text-wrap: wrap;
  margin: auto;
}

button {
  align-self: center;
}

.MainSectionProdukter {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 20px;
}

/* Styling the image container */
.image-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  justify-content: center;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  height: auto;
}

/* Styling the details container */
.details-container {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 15px;
}

.price-container {
  display: flex;
  margin: 25px;
  gap: 15px;
  width: 400px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-direction: column;
}

.productPropertiesContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
  gap: 15px;
  width: 400px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-direction: column;
}

.productPropertiesContainer label {
  font-weight: bold;
}

/* Style for individual form items */
.NewProductItem {
  display: flex;
  flex-direction: column;
}

.NewProductItem label {
  font-weight: bold;
}

.NewProductItem input,
select,
.NewProductItem textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  margin-top: 5px;
  gap: 15px;
}

select {
  width: 100%;
}

#products {
  margin-bottom: 2rem;
}

#products > div {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

#products img {
  place-self: center;
  width: 50%;
  object-fit: cover;
  border-radius: 12px;
}

#EditModal {
  display: none;
  position: fixed;
  width: 87%;
  height: 95%;
  top: 50%;
  left: 5%;
  z-index: 1000;
  border: 2px solid black;
  border-radius: 15px;
  padding: 8px;
  background-color: white;
}

#EditModalContainer {
  margin-top: 1rem;
}

#EditModal > div {
  display: block;
  position: absolute;
  width: 100%;
  transform: translate(calc(50% - 4rem), -1.6rem);
}

#EditModal > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 2rem;
}

#EditProductImage {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#editProductForm {
  width: 400px;
  flex-direction: column;
  gap: 10px;
}

#editProductForm > * {
  width: unset;
}

.EditedProductTouched {
  border: 1px solid rgb(32, 199, 149) !important;
}

#closeEditModal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: rgba(205 205 205 / 80%);
  border-radius: 15px;
  transition: transform 0.2s ease-in-out;
}

#closeEditModal:hover {
  background-color: rgba(139, 190, 175, 0.5);
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

#closeEditModal > a > i {
  color: black;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
